body{
            background-color:black;
            color:white;
            text-align:center;
            font-family:Arial;
            

        }

        button{
            width: 120px;
            height:120px;
            border-radius:50%;
            cursor: hand;
            transition:transform 0,2s;
        }

        button:hover{
            transform:scale(1.1);
        }

        div{
            display:flex;
            justify-content: space-around;
            margin-top: 10%;
        }
        img{
            width:80px;
            height:80px;
            
            
            
            
        }

        #reset{
            font-size:25px;
            font-style:bold;
             border-radius:5px;
             width: 120px;;
            height:60px;
        }

        p{
            color:white;
            font-size:25px;
            font-style:bold;
            text-align:left;
             margin-top: 5%;
        }
        .move-img{
            height:50px;
            width:50px;
        }
        